*{margin: 0;
padding: 0;
box-sizing: border-box;
color: #ffffff;}
html{font-size: 62.5%;}
body{background-color: #000000;
color: #ffffff;}
#header.logo{width: 165px;}
.unline{text-decoration: none;}
.nav-items{font-size: 2rem;}
.margin-r{margin-right: 20px;}

/* franchise btn */

#franchise-btn{border: 1px solid #ffffff;
padding: 15px 20px;
background-color: transparent;
border-radius: 25px;}

/* order btn */

#order-btn{border: 0;
padding: 15px 20px;
background-color: #ed1c24;
border-radius: 25px;
margin-left: 10px;}
.pointer{cursor: pointer;}

#carousel{width:1300px;}

p{font-size: 5rem;
text-align: center;}
span{font-weight: 800;
font-size:7rem ;}
#size-s{font-size: 2rem;
color:silver;}


.white{background-color: #ffffff;}

#order-btn2{border: 1px solid #ffffff;
background-color: #000000;
margin: 24px 99.5px 0px;
border-radius: 25px;
padding: 20px;}


.head{font-size: 3.5rem;
text-align: center;}

.font{font-size: 1.6rem;
text-align: center;
margin: 0px 0px 15px;
line-height: 21px;
padding-left: 50px ;
padding-right: 50px;}

.color{color: rgb(255 255 255 / 70%);}


.font-res{font-size: 3.2rem;}

.head-2{font-size: 3.5rem;
font-weight: 700;
padding-left: 60px;}



.font-r{font-size: 1.6rem;
text-align: left;
padding-left: 60px;
padding-right: 60px;}


.img-1{width: 600px;
border: 1px solid #000000;
padding-right:50px ;
}


.img-2{width: 600px;
border: 1px solid #000000;
padding-left:50px ;
}

.center{text-align: center;}

.font-small{font-size: 3.2rem;
font-family: sans-serif;
font-weight: 100;}





